html, body{
    font-family : 'Quicksand', sans-serif ;
    background : #ddd ;
    margin : 0 ;
    padding : 0 ; 
    top : 0 ;
    left : 0 ;
}
.bapak {
 	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	font-size: 35pt;
	color: aliceblue;
}
nav{
    background : #fff ;
    padding : 24px ; 
}
.horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #333;
    left: 0;
}

.horizontal-menu li {
    float: left;
}


.horizontal-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu li a:hover {
    background-color: #111;
}
.vertical-menu  {
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    right: 0;
    top: 46px;
    }

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.hero-img{
    width : 100% ;
    height : 500px ; 
    position : relative ;
    margin : 0 ;
    padding : 0 ;
     top : 0 ;
    left : 0 ;
    background : url('img/baju.jpg') ;
    background-attachment : fixed ;
    background-position : center ;
    background-repeat : no-repeat ;
    background-size : cover ;
}
.men-img{
    width : 100% ;
    height : 500px ; 
    position : relative ;
    margin : 0 ;
    padding : 0 ;
     top : 0 ;
    left : 0 ;
    background : url('img/men_summer.jpg') ;
    background-attachment : fixed ;
    background-position : center ;
    background-repeat : no-repeat ;
    background-size : cover ;
    overflow: hide;
}
.overlay-hero{
    width : 100% ;
    height : 100% ;
    position : absolute ; 
    top : 0 ;
    left : 0 ;
    background : -webkit-linear-gradient(120deg, rgba(28, 227, 255, 0.8), rgba(46, 204, 113,.8));
    z-index : 2 ;
}
.content-hero{
    width : 700px ;
    position : absolute ;
    top : 50% ;
    left : 50% ;
    transform : translateX(-50%) translateY(-50%) ;
    color : #fff ;
    text-align : center ;
    z-index : 3 ;
}
.content-hero > h1{
    font-size : 5em ;
    letter-spacing : .05em ;
    margin : 0 ;
    padding : 0 ;
}
.content-hero > p{
    font-size : 1.4em ;
    padding : 0 ;
    margin : 0 ;
}
#main, #sidebar{
    height : 595px ;
}
#main{
    width : 70% ;
    float : left ;
    background: rgba(34, 230, 66, 0.49);
    margin : 0 ;
    padding : 0 ;
}
#sidebar{
    width : 30% ;
    background : rgba(236, 240, 241,1.0) ;
    float : right ;
    margin : 0 ;
    padding : 0 ;
    overflow-y: scroll;
}
#sidebar a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
        margin-left: 38px;
}
.sidebar a:hover {
    background-color: #111;
}
ul#menu li {
  display:inline;
  font-size: 30px;

}
/*.container {
    position: relative;
    width: 35%;
    margin-left: 20px;
    margin-top: 25px;
    color: white;
    font-size: 13px;

}
.container2 {
    position: relative;
    width: 35%;
    margin-left: 20px;
    margin-top: 25px;
    color: white;
    font-size: 13px;
    float: right;

}
.container3 {
    position: relative;
    width: 35%;
    margin-left: 684px;
    margin-top: -531px;
    color: white;
    font-size: 13px;

}*/
.container {
    position: relative;
    width: 175px;
    margin-left: 25px;
    margin-top: 25px;
    color: black;
    font-size: 13px;
    display: inline-block;
    box-sizing: border-box;
    float: clear;
    align: center;
}

/*-- testing untuk .containers (container_up & container_down) --*/

.containers {
    position: relative;
    margin-left: 25px;
    margin-top: 25px;
    color: black;
    font-size: 13px;
    height: 250px;
    width: 150px;
    display: inline-block;
    float: top;
    align: center;
}

.container_up {
    height: 175px;
    display: block;
    font-size: 13px;
    color: black;
    float: bottom;
}

.container_down {
    height: 75px;
    font-size: 13px;
    color:black;
    align: top;
    float: top;
}

.active {
    background-color: black;
}

.images {
 
  height: 462px;
}
.image {
    display: block;
    max-height: 200px;
    max-width: 150px;
    width: auto;
    height: auto;
    background-size: cover;
    align: bottom
  }

.logo {
 
  height: 50px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}