html{
    font-family: Montserrat;
    zoom:0.8;
    zoom:-oz-0.8;
}
body{
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: static;
	margin: 0 auto;
}
.header{
	width: 100%;
	position: absolute;
	height: 8.2%;
	background-color: red;
	top: 0%;
	left: 0%;
}
nav{
	background: #fff;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 8.2%;
	font-family: sans-serif;
	color: black;
}
nav ul li{
	float: left;
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-size: 20px;		
}

nav ul li a{
	color: black;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}
 li .dropdown{
	position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 80px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
li .mudun{
	position: relative;
    display: inline-block;

}
.mudun-1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 60px;
}
.mudun:hover .mudun-1 {
    display: block;
}
.mudun-1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mudun-1 a:hover {background-color: #f1f1f1}

.mudun:hover .mudun-1 {
    display: block;
}
.desc {
    padding: 15px;
    text-align: center;
    color: black;
}
.badan{
	width: 100%;
	height: 100%;
	background-color: #3498db;
	top: 8%;
	left: 0px;
	position: absolute;
}
.semua{
	width: 100%;
	height: 100%;
	position: absolute;
	clear: both;
	top: 0px;
}
aside {
	float: left;
	position: fixed;
	overflow-y: auto;
	z-index: 1;
	width: 14%;
	height: 100%;
	background-color: #2c3e50;
	top: 8%;
}	
aside a{
	color:white;
	margin: 8px;
	margin-left: 0px;  
}
.samping ul{
	list-style-type: none;
	font-size: 13px;
	margin: 8;
	margin-left: 0 auto;
}
.samping li{
	padding: 10px;
	padding-left: 0px;
	text-decoration: none;
	color: black;
	text-decoration-style: none;
}
.samping li a{
	display: block;
	text-decoration: none;
	border: 0px #2b2927;
}
.samping a:hover{
	text-decoration: underline;
}
section{
	width: 86%;
	height: 100%;
	float: right;
	background-color: yellow;
	position: relative;
	top: 0%;
	margin: 0 auto;
	margin-bottom: 0px;
}
.satu {
	width: 100%;
	height: 900px;
	background-color: #fff;
	text-align: center;
	top:0%;
	position: relative;
}
.satu-1{
	width: 20%;
	height: 250px;
	position: relative;
	float: left;
	left: 5%;
	background-color: white;
	background-image: url(../img/boy.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center;
	top: 4%;
}
.satu-2{
	width: 65%;
	height: 800px;
	position: relative;
	float: right;
	right: 5%;
	top: 4%;
}
.satu-2 th{
	padding: 10px;
	background-color: #65C6BB;
	color: white;
	font-family: sans-serif;
	padding: 22px;
}
.bawah{
	text-align: left;

}
.satu-2 td{	
	height: 25px;
	border-radius: 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #65C6BB;
}
.dua{
	width: 100%;
	height: 900px;
	background-color: #fff;
	text-align: center;
	top:0%;
	position: relative;
}
.dua-1{
	width: 20%;
	height: 250px;
	position: relative;
	float: left;
	left: 5%;
	background-color: white;
	background-image: url(../img/boy.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center;
	top: 4%;
}
.dua-2{
	width: 65%;
	height: 800px;
	position: relative;
	float: right;
	right: 5%;
	top: 4%;
}
.dua-2 th{
	padding: 10px;
	background-color: #65C6BB;
	color: white;
	font-family: sans-serif;
	padding: 22px;
}
.dua-2 td{	
	height: 25px;
	border-radius: 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #65C6BB;
}
.tiga{
	width: 100%;
	height: 900px;
	background-color: #fff;
	text-align: center;
	top:0%;
	position: relative;
}
.tiga-1{
	width: 20%;
	height: 250px;
	position: relative;
	float: left;
	left: 5%;
	background-color: white;
	background-image: url(../img/boy.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center;
	top: 4%;
}
.tiga-2{
	width: 65%;
	height: 800px;
	position: relative;
	float: right;
	right: 5%;
	top: 4%;
}
.tiga-2 th{
	padding: 10px;
	background-color: #65C6BB;
	color: white;
	font-family: sans-serif;
	padding: 22px;
}
.tiga-2 td{	
	height: 25px;
	border-radius: 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #65C6BB;
}
.empat{
	width: 100%;
	height: 900px;
	background-color: #fff;
	text-align: center;
	top:0%;
	position: relative;
}
.empat-1{
	width: 20%;
	height: 250px;
	position: relative;
	float: left;
	left: 5%;
	background-color: white;
	background-image: url(../img/boy.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center;
	top: 4%;
}
.empat-2{
	width: 65%;
	height: 800px;
	position: relative;
	float: right;
	right: 5%;
	top: 4%;
}
.empat-2 th{
	padding: 10px;
	background-color: #65C6BB;
	color: white;
	font-family: sans-serif;
	padding: 22px;
}
.empat-2 td{	
	height: 25px;
	border-radius: 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #65C6BB;
}
.tombol{
	height: 30px;
	width: 60px;
	float: right;
	bottom: 5%;
	position: relative;
	border:none;
	border-radius: 5px;
	background-color: grey;
	right: 5%;
}
footer{
	clear: both;
	background-color: #34495E;
	width: 100%;
	height: 32px;
	position: relative;
	top: 454%;
	z-index: 1;
	text-align: center;
	color: white;
	font-family: raleway; 
}